<!DOCTYPE html>
<html lang="en-US">
	<head>	 
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lt IE 9]>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
<![endif]-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="css/main.css">
 
	<title>CourtChecker</title>
	</head>



	<body>
	<div class = "container">
	<img src=".\images\Logo.jpg" alt="CourtChecker logo" width="1100" height="200">
	  
	 <div id = "pad" >
	<div id="formid">  <h1> Enter your Information</h1>
	
	<form id = "form1"action = "" method = "POST" autocomplete = "on"> 
	<fieldset><legend>search here for ticket stuff</legend>
	
	<label for="firstname">First Name:</label><input type="text" name= "firstname" size="20" autofocus> 
	<label for = "lastname">Last Name:</label><input type="text" name= "lastname" size="20" >
	<label for = "DL">Driver's License Number:</label><input type="text" name= "DL" size="20">
	<label for = "DOB"> DOB:</label><input type="text" name= "DOB" size="20"> 
	
</fieldset>	
</form> <button type="submit" form="form1" value="Submit">Search</button></div> </div> 
<!-- 	 <form action = "" method = "POST" autocomplete = "on"> 
	<fieldset><legend>search here for ticket stuff</legend>
	<tr>
	<ul>
	<td><li>First Name:</li></td>
	<td><li>Last Name:</li></td>
	<td><li>Driver's License Number:</li></td>
	<td><li> DOB:</li></td></ul></tr>
	<tr>
	<td><input type="text" name= "firstname" autofocus></td>
	<td><input type="text" name= "lastname"></td>
	<td><input type="text" name= "DL"></td>
	<td><input type="text" name= "DOB"> </td></tr> -->
	<!--  </form> </div> </div> -->
<!-- </fieldset>	  -->
	

 </div>
	</body>
	<footer> 
</footer> 
	</html>